/* LAYOUT */
.main.library_list {padding-bottom:35px;}
.main.library_view {padding-bottom:0;}
@media only screen and (max-width: 767px) {
	.main.library_list {padding-bottom:0;}
}

.lib_wrap {position:relative; width:1280px; margin:0 auto; letter-spacing:0;}
.lib_wrap h1.lib_title {padding:49px 0 52px; color:#000; font-weight:700; font-size:31px; text-align:center;}
@media only screen and (max-width: 1279px) {
	.lib_wrap {width:100%; margin:0;}
	.lib_wrap h1.lib_title {padding:49px 0 52px; font-size:31px;  padding:3.828vw 0 4.063vw; font-size:2.422vw;}
}

@media only screen and (max-width: 767px) {
	.lib_wrap {width:100%; margin:0;}
	.lib_wrap h1.lib_title {padding:45px 0 20px; font-size:26px;  padding:12.500vw 0 5.556vw; font-size:7.222vw;}
}

/* BUTTON */
a.cta_white {display:inline-block; background-color:#fff; padding:6px 22px 7px; border:1px solid #000; color:#000; font-size:14px; outline:none;
    -webkit-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
a.cta_white:hover, a.cta_white:focus {background-color:#000; color:#fff;}
@media only screen and (max-width: 1279px) {
	a.cta_white {padding:6px 22px 7px; font-size:14px;  padding:0.469vw 1.719vw 0.547vw; font-size:1.094vw;}
}
@media only screen and (max-width: 767px) {
	a.cta_white {padding:6px 24px 7px; font-size:14px;  padding:1.667vw 6.667vw 1.944vw; font-size:3.889vw;}
}

/* 로딩 이미지 */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }


/* TOP VISUAL - VIDEO */
.lib_video_container {position:relative; width:100%; max-width:1920px; background-color:#000; margin:0 auto; overflow:hidden;}
.lib_video_container .video_pc {display:block; width:100%; overflow:hidden;}
.lib_video_container .video_mo {display:none;}
.lib_video_container .iframe_video_pc {position:relative; height:0; padding-bottom:56.25%; overflow:hidden;}
.lib_video_container .iframe_video_pc iframe {display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
.lib_video_container .iframe_video_mo {display:none; position:relative; height:0; overflow:hidden;}
.lib_video_container .iframe_video_mo.type_default {padding-bottom:56.25%;}
.lib_video_container .iframe_video_mo.type_vertical {padding-bottom:125%;}
.lib_video_container .iframe_video_mo.type_square {padding-bottom:100%;}
.lib_video_container .iframe_video_mo iframe {display:block ;position:absolute; top:0; left:0; width:100%; height:100%;}
.lib_video_container iframe {background-color:#000;}
@media only screen and (max-width: 767px) {
	.lib_video_container {position:relative; width:100%; max-width:none; margin:0;}
	.lib_video_container .video_pc {display:none;}
	.lib_video_container .video_mo {display:block; width:100%;}
	.lib_video_container .iframe_video_pc {display:none;}
	.lib_video_container .iframe_video_mo {display:block;}
}

/* LIBRARY LIST */
.lib_list {width:1128px; margin:0 auto;}
.lib_list:after {clear:both; display:block; content:'';}
.lib_list > li {float:left; width:356px; height:471px; padding:0 10px;}
.lib_list > li > a {display:block; height:100%;}
.lib_list > li > a:focus {outline:1px dotted rgba(0,0,0,0.8); outline-offset:1px;}
.lib_list .thumb_img {display:block; overflow:hidden;}
.lib_list .thumb_img img {width:100%;
	-webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1)
}
.lib_list a:hover .thumb_img img,
.lib_list a:focus .thumb_img img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05)
}
.lib_list .thumb_txt {display:block; padding-top:19px; color:#333; font-family: Montserrat, NotoSans, "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", 돋움, dotum, sans-serif; font-weight:600; font-size:22px; line-height:1.4; word-wrap:break-word; word-break:keep-all;}

@media only screen and (max-width: 1279px) {
	.lib_list {width:1128px; width:88.125vw;}
	.lib_list > li {width:356px; height:471px; padding:0 10px;  width:27.813vw; height:36.797vw; padding:0 0.781vw;}
	.lib_list .thumb_txt {padding-top:19px; font-size:22px;  padding-top:1.484vw; font-size:1.719vw;}
}

@media only screen and (max-width: 767px) {
	.lib_list {width:100%; margin:0;}
	.lib_list > li {float:none; width:100%; height:412px; padding:0 20px; box-sizing:border-box;  height:119.444vw; padding:0 5.556vw;}
	.lib_list .thumb_txt {padding-top:15px; font-size:22px;  padding-top:4.167vw; font-size:6.111vw;}
}

.loading_wrap {display:none; position:absolute; bottom:0; left:0; width:100%;}
@media only screen and (max-width: 767px) {
	.loading_wrap {height:50px;  height:13.889vw;}
}

/* LIBRARY VIEW */
.lib_view_video {position:relative; width:100%; max-width:1920px; height:828px; margin:0 auto; overflow:hidden;}
.lib_view_video .lib_pc_video {display:block; position:absolute; top:50%; left:50%; min-width:100%; min-height:100%; width:auto; height:auto; overflow:hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.lib_view_video .lib_mo_video {display:none;}
@media only screen and (max-width: 1279px) {

}
@media only screen and (max-width: 767px) {
	.lib_view_video {position:relative; width:100%; max-width:none; height:auto; margin:0;}

	.lib_view_video .lib_pc_video {display:none;}
	.lib_view_video .lib_mo_video {display:block; width:100%;}
}

.lv_txt_cnt {padding:0 86px 83px; color:#333; text-align:center;}
.lv_txt_cnt .lv_title {padding:100px 0 11px; font-weight:600; font-size:30px; font-family: Montserrat, sans-serif; word-wrap:break-word; word-break:keep-all;}
.lv_txt_cnt p {margin:22px 0; font-size:16px; line-height:1.4;}
.lv_txt_cnt p strong {font-weight:700;}
@media only screen and (max-width: 1279px) {
	.lv_txt_cnt {padding:0 86px 83px;  padding:0 6.719vw 6.484vw;}
	.lv_txt_cnt .lv_title {padding:100px 0 11px; font-size:22px;  padding:7.813vw 0 0.859vw; font-size:1.719vw;}
	.lv_txt_cnt p {margin:22px 0; font-size:16px;  margin:1.719vw 0; font-size:1.250vw;}
}
@media only screen and (max-width: 767px) {
	.lv_txt_cnt {padding:0 20px 30px;  padding:0 5.556vw 8.333vw;}
	.lv_txt_cnt .lv_title {padding:43px 0 2px; font-size:25px;  padding:11.944vw 0 0.556vw; font-size:6.944vw;}
	.lv_txt_cnt p {margin:17px 0; font-size:13px; letter-spacing:-0.025em;  margin:4.722vw 0; font-size:3.611vw;}
}

.lb_list {padding-bottom:82px; font-size:0; text-align:center;}
.lb_list li {display:inline-block; width:600px; padding:0 18px; box-sizing:border-box; vertical-align:top;}
.lb_list li img {width:100%;}
@media only screen and (max-width: 1279px) {
	.lb_list {padding-bottom:82px;  padding-bottom:6.406vw;}
	.lb_list li {width:600px; padding:0 18px;  width:46.875vw; padding:0 1.406vw;}
}
@media only screen and (max-width: 767px) {
	.lb_list {padding-bottom:50px;  padding-bottom:13.889vw;}
	.lb_list li {display:list-item; width:100%; margin-top:20px; padding:0 20px;   margin-top:5.556vw; padding:0 5.556vw;}
	.lb_list li:nth-of-type(1) {margin-top:0;}
}

.lv_prds {border-top:1px solid #e3e3e3; color:#333;}
.lv_prds .lv_prds_inner {width:1280px; margin:0 auto;}
.lv_prds h2 {padding:75px 0 23px; font-weight:600; font-size:24px; font-family: Montserrat, sans-serif; text-align:center;}
.prds_list {font-size:0; text-align:center;}
.prds_list li {display:inline-block; width:356px; height:689px; padding:0 10px; font-size:16px; text-align:left; vertical-align:top;}
.prds_list .prds_img img {width:100%;}
.prds_list .prds_name {padding:25px 30px 0; word-wrap:break-word; word-break:keep-all;}
.prds_list .prds_cta {padding:26px 30px 0; font-size:0;}
.prds_list .prds_cta .cta_white {margin-right:8px;}
@media only screen and (max-width: 1279px) {
	.lv_prds .lv_prds_inner {width:100%; margin:0;}
	.lv_prds h2 {padding:75px 0 23px; font-size:24px;  padding:5.859vw 0 1.797vw; font-size:1.875vw;}
	.prds_list li {width:356px; height:689px; padding:0 10px; font-size:16px;  width:27.813vw; height:53.828vw; padding:0 0.781vw; font-size:1.250vw}
	.prds_list .prds_name {padding:25px 30px 0;  padding:1.953vw 2.344vw 0;}
	.prds_list .prds_cta {padding:26px 30px 0;  padding:2.031vw 2.344vw 0;}
	.prds_list .prds_cta .cta_white {margin-right:8px;  margin-right:0.625vw;}
}
@media only screen and (max-width: 767px) {
	.lv_prds .lv_prds_inner {width:100%; margin:0;}
	.lv_prds h2 {padding:43px 0 13px; font-size:24px;  padding:11.944vw 0 3.611vw; font-size:6.667vw}
	.prds_list li {display:list-item; width:100%; height:auto; padding:0 20px 50px; font-size:16px; box-sizing:border-box;  padding:0 5.556vw 13.889vw; font-size:4.444vw}
	.prds_list .prds_name {padding:14px 0 0; text-align:center;  padding:3.889vw 0 0;}
	.prds_list .prds_cta {padding:20px 0 0; text-align:center;  padding:5.556vw 0 0;}
	.prds_list .prds_cta .cta_white {margin:0 3px;  margin:0 0.833vw;}
}

.pg_nav {border-top:2px solid #333;}
.pg_nav .pg_nav_inner {width:1280px; margin:0 auto;}
.pg_nav .pg_nav_inner:after {clear:both; display:block; content:'';}
.pg_nav .cta_go {display:block; width:50%; font-weight:600; font-family: Montserrat, sans-serif; box-sizing:border-box;}
.pg_nav .cta_go:focus {outline:1px dotted rgba(0,0,0,0.8); outline-offset:1px;}
.pg_nav .cta_go.prev {float:left; padding:22px 118px 54px 0; text-align:right;}
.pg_nav .cta_go.next {float:right; padding:22px 0 54px 118px;}
.pg_nav .cta_go .arr {display:inline-block; position:relative; color:#333; font-size:16px;}
.pg_nav .cta_go .arr:after {display:block; position:absolute; top:50%; margin-top:-5px; width:6px; height:6px; border-top:2px solid #333; border-left:2px solid #333; content:'';}
.pg_nav .cta_go.prev .arr {padding:0 42px 0 16px;}
.pg_nav .cta_go.next .arr {padding:0 16px 0 42px;}
.pg_nav .cta_go.prev .arr:after { left:0;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.pg_nav .cta_go.next .arr:after { right:0;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg);
}
.pg_nav .cta_go .pg_name {display:block; margin-top:11px; color:#727272; font-size:14px;}

@media only screen and (max-width: 1279px) {
	.pg_nav .pg_nav_inner {width:100%; margin:0;}
	.pg_nav .cta_go.prev {padding:22px 118px 54px 0;  padding:1.719vw 9.219vw 4.219vw 0;}
	.pg_nav .cta_go.next {padding:22px 0 54px 118px;  padding:1.719vw 0 4.219vw 9.219vw;}
	.pg_nav .cta_go .arr {font-size:16px;  font-size:1.250vw;}
	.pg_nav .cta_go .arr:after {margin-top:-5px; width:6px; height:6px;   margin-top:-0.391vw; width:0.469vw; height:0.469vw; border-top-width:0.156vw; border-left-width:0.156vw;}
	.pg_nav .cta_go.prev .arr {padding:0 42px 0 16px;  padding:0 3.281vw 0 1.250vw;}
	.pg_nav .cta_go.next .arr {padding:0 16px 0 42px;  padding:0 1.250vw 0 3.281vw;}
	.pg_nav .cta_go .pg_name {margin-top:11px; font-size:14px;  margin-top:0.859vw; font-size:1.094vw;}
}
@media only screen and (max-width: 767px) {
	.pg_nav .pg_nav_inner {width:100%; margin:0;}
	.pg_nav .pg_nav_inner > a {border-bottom:1px solid #d0d0d0;}
	.pg_nav .pg_nav_inner > a:last-child {border-bottom:none;}
	.pg_nav .cta_go {width:100%;}
	.pg_nav .cta_go * {vertical-align:middle;}
	.pg_nav .cta_go:focus {outline:1px dotted rgba(0,0,0,0.8); outline-offset:1px;}
	.pg_nav .cta_go.prev {float:none; padding:0; text-align:left;}
	.pg_nav .cta_go.next {float:none; padding:0;}
	.pg_nav .cta_go .arr {display:inline-block; width:30%; position:relative; color:#333; font-size:16px; box-sizing:border-box;  font-size:4.444vw;}
	.pg_nav .cta_go .arr:after {display:block; position:absolute; top:50%; width:8px; height:8px; border-top:2px solid #333; border-left:2px solid #333; content:'';  width:2.222vw; height:2.222vw; border-top-width:0.556vw; border-left-width:0.556vw;}
	.pg_nav .cta_go.prev .arr {padding:0 0 0 50px;  padding:0 0 0 13.889vw;}
	.pg_nav .cta_go.next .arr {padding:0 0 0 50px;  padding:0 0 0 13.889vw;}
	.pg_nav .cta_go.prev .arr:after { left:26px; margin-top:-4px;  left:7.222vw; margin-top:-1.111vw;
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	.pg_nav .cta_go.next .arr:after { left:26px; margin-top:-8px;  left:7.222vw; margin-top:-2.222vw;
		-webkit-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	.pg_nav .cta_go .pg_name {display:inline-block; width:70%; margin-top:0; padding:16px 20px 15px 0; color:#727272; font-size:14px; box-sizing:border-box;  padding:4.444vw 5.556vw 4.167vw 0; font-size:3.889vw;}
}